*{
    padding: 0px;
    margin: 0;
    font-family: calibri;
}

body{
    background-color: dimgrey;
}


h1{
    font-size: 350%;
    color: white;
    text-align: center;
}

h2{
    font-size: 200%;
    color: white;
    margin-top: 5%;
    text-align: center;
}

.taula{
    width: 340px;
    height: 490px;
    align-content: center;
    margin: 9% 7.5%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#titolTaula{
    margin-top: -25px;
    width: 336.5px;
    background-color: #F691FF;
    font-size: 20px;
    position: fixed;
}

#idT{
    padding: 0% 20%;
}

#num{
    padding: 0% 55%;
}

#estat{
    padding: 0% 74%;
}

td{
    background-color: #9DFFFF;
    width: 340px;
    text-align: center;
    font-size: 125%;
}

td img{
    width: 50%;
}

.botoMapa{
    padding: 3% 10%;
    border-color: #00A9A9;
    border-radius: 15%;
    margin: -3% 31%;
    background-color: #9DFFFF;
}

#aBoto{
    font-size: 170%;
    text-decoration: none;
    color: black;
}